section.hero.is-dark.is-bold
		.hero-head
			nav.nav
				span#nav-toggle.nav-toggle.nav-mobile
					span
					span
					span
				.nav-left
					if user
						a= 'Hello ' + user.local.email
					else
						a= 'Log in please!'
				.nav-right
					#nav-menu.nav-right.nav-menu.nav-mobile
						a(class='nav-item' href='/') All Books
						if !user
							a(class='nav-item' href='/login') Login 
								
							a(class='nav-item' href='/signup') Signup
								
						else
							a(class='nav-item' href='/mybooks') My Books
								
							a(class='nav-item' href='/trades') Trades

							a(class='nav-item' href='/settings') Settings
								
							a(class='nav-item' href='/logout') Logout
						
		.hero-body
			.container
				a(href='/')
					h1.title Book Trading App!
				h2.subtitle Using Google Books API
		.hero-foot
			.container.has-text-right
				p
					small= 'Made by '
						a(href='https://github.com/sego90' target='_blank') Daniel S.  