include includes/head.pug
include includes/nav.pug

.container
	.columns
		.column.is-10.is-offset-1.has-text-centered
			br
			h1.title Home
			if message
				p= message
			a.button.is-light(href='/mybooks') My books