include includes/head.pug
include includes/nav.pug


.container
	.columns
		.column.is-10.is-offset-1.has-text-centered
			br
			h1.title Sign Up
			if message
				p= message
			form(action='/signup' method='post')
				.field
					label.label Email
					input(type='email' name='email' required)
				.field
					label.label Password
					input(type='password' name='password' required)
				.field
					input.button(type='submit' value='Sign Up')